@model IEnumerable<ClassManagement.Models.CourseRegistration>

@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var role1 = Session["Admin"] as string;
    var role2 = Session["User"] as string;
}

<h2>My Subscriptions</h2>
<h2></h2>
<table class="table table-hover">
    <tr class="btn-primary text-center">
        <th class="text-center">
            Subscription Id
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th class="text-center">
            Subscription Status
        </th>
        <th class="text-center">
             Action
        </th>
    </tr>

@foreach (var item in Model) {

    <tr class="text-center">
        <td>
           1401 @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Title)
        </td>
        @if (role1 == "Admin")
        {
            <td>
                @Html.ActionLink("Edit", "EditSubscription", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Cancel", "Cancel", null, new { @class = "btn btn-sm btn-danger" })
            </td>
        }
    </tr>
}

</table>
